@{
    ViewBag.Title = "Inscription";
}
@model SpaceAlert.Web.Models.AccountViewModel

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Inscription</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Inscription", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pseudo, "Pseudo")
                        @Html.TextBoxFor(model => model.Pseudo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "Email")
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MotDePasse, "Mot de passe")
                        @Html.PasswordFor(model => model.MotDePasse, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Confirmation, "Confirmation du mot de passe")
                        @Html.PasswordFor(model => model.Confirmation, new { @class = "form-control" })
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>