@{
    ViewBag.Title = "Nouvelle Partie";
}
@using SpaceAlert.Model.Helpers.Enums
@using SpaceAlert.Web.Helpers
@model SpaceAlert.Web.Models.GameCreationViewModel

<script>
    var createCharUrl = '@Url.Action("AddCharacter", "Account")';
</script>

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Création de partie</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Game", FormMethod.Post, new { @id = "creationForm" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Game.TypeMission, "Type de mission")
                        @Html.DropDownListFor(model => model.Game.TypeMission, new SelectList(Enum.GetValues(typeof(TypeMission))), new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.Game.TypeMission)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TutoName, "Tutoriel")
                        @Html.DropDownListFor(model => model.TutoName, new SelectList(Model.AvailableTutorials))
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Game.NbJoueurs, "Nombre de joueurs")
                        @Html.DropDownListFor(model => model.Game.NbJoueurs, new SelectList(new List<int> { 5, 4, 3, 2, 1 }), new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.Game.NbJoueurs)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Game.NbAndroids, "Nombre d'androids")
                        @Html.DropDownListFor(model => model.Game.NbAndroids, new SelectList(new List<int> { 0, 1, 2, 3, 4 }), HtmlHelpers.GetHtmlAttribute("form-control", Model.Game == null || Model.Game.NbJoueurs == 5))
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Game.Blanches, new { @checked = "checked" }) @Html.LabelFor(m => m.Game.Blanches)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Game.Jaunes) @Html.LabelFor(m => m.Game.Jaunes)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Game.Rouges) @Html.LabelFor(m => m.Game.Rouges)
                        </label>
                    </div>
                    <div class="modal fade" id="modalCharName" tabindex="-1" a role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="form-horizontal">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Player.Name, new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.DropDownListFor(m => m.Player.Name, Model.Player.AvailableCharacters.Select(c => new SelectListItem { Value = c, Text = c }), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-4 text-right">
                                                <i class="fa fa-spinner fa-lg fa-pulse hidden" id="wait"></i>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="input-group" data-toggle="tooltip" title="Ajouter un personnage...">
                                                    <input class="form-control" type="text" id="newChar" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" id="addCharacter"></span></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                                        <button class="btn btn-primary" id="createButton">C'est parti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="button" id="falseSubmit">Go!</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/App/createGame.js")
    @Scripts.Render("~/signalr/hubs")
}