@{
    ViewBag.Title = "Nouvelle Partie";
}
@using SpaceAlert.Model.Helpers.Enums
@using SpaceAlert.Web.Helpers
@model SpaceAlert.Web.Models.GameViewModel

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Création de partie</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Game", FormMethod.Post, new { @id = "creationForm" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeMission, "Type de mission")
                        @Html.DropDownListFor(model => model.TypeMission, new SelectList(Enum.GetValues(typeof(TypeMission))), new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.TypeMission)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NbJoueurs, "Nombre de joueurs")
                        @Html.DropDownListFor(model => model.NbJoueurs, new SelectList(new List<int> { 5, 4, 3, 2, 1 }), new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.NbJoueurs)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NbAndroids, "Nombre d'androids")
                        @Html.DropDownListFor(model => model.NbAndroids, new SelectList(new List<int> { 0, 1, 2, 3, 4 }), HtmlHelpers.GetHtmlAttribute("form-control", Model == null || Model.NbJoueurs == 5))
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Blanches, new { @checked = "checked" }) Cartes Blanches
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Jaunes) Cartes Jaunes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Rouges) Cartes Rouges
                        </label>
                    </div>
                    <div>
                        @Html.Partial("ModelErrors", Model)
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/App/createGame.js")
}