@{
    ViewBag.Title = "Nouvelle Partie";
}
@using SpaceAlert.Model.Helpers.Enums
@using SpaceAlert.Web.Helpers
@model SpaceAlert.Web.Models.GameCreationViewModel

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Création de partie</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Game", FormMethod.Post, new { @id = "creationForm" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Game.TypeMission, "Type de mission")
                        @Html.DropDownListFor(model => model.Game.TypeMission, new SelectList(Enum.GetValues(typeof(TypeMission))), new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.Game.TypeMission)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Game.NbJoueurs, "Nombre de joueurs")
                        @Html.DropDownListFor(model => model.Game.NbJoueurs, new SelectList(new List<int> { 5, 4, 3, 2, 1 }), new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.Game.NbJoueurs)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Game.NbAndroids, "Nombre d'androids")
                        @Html.DropDownListFor(model => model.Game.NbAndroids, new SelectList(new List<int> { 0, 1, 2, 3, 4 }), HtmlHelpers.GetHtmlAttribute("form-control", Model == null || Model.Game.NbJoueurs == 5))
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Game.Blanches, new { @checked = "checked" }) Cartes Blanches
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Game.Jaunes) Cartes Jaunes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Game.Rouges) Cartes Rouges
                        </label>
                    </div>
                    <div>
                        @Html.Partial("ModelErrors", Model)
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="button" id="falseSubmit">Go!</button>
                    </div>
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatorConnectionId)
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCharName" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="falseForm">
                    <div class="form-group">
                        <label for="createdByName">Choisissez un personnage</label>
                        <input class="form-control" type="text" id="createdByName" />
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" id="createButton">C'est parti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/App/createGame.js")
    @Scripts.Render("~/signalr/hubs")
}