@{
    ViewBag.Title = "Rejoindre une partie";
}
@using SpaceAlert.Web.Models
@model JoinGameViewModel
<div class="page-header">
    <h2>Rejoindre une partie</h2>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <table class="table table-hover liste-parties">
            <thead>
                <tr>
                    <th>Type de mission</th>
                    <th>Date de création</th>
                    <th>Nombres de joueurs</th>
                    <th>B / J / R</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GameViewModel game in Model.AvailableGames)
                {
                    <tr class="game-detail">
                        <td>@game.TypeMission</td>
                        <td>@game.DateCreation</td>
                        <td>@game.Players.Count/@game.NbJoueurs</td>
                        <td>
                            @if (game.Blanches)
                            {
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove text-danger"></span>
                            }
                            @if (game.Jaunes)
                            {
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove text-danger"></span>
                            }
                            @if (game.Rouges)
                            {
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove text-danger"></span>
                            }
                        </td>
                        <td class="hidden game-id">@game.GameId</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="modal fade" id="modalCharName" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                @using (Html.BeginForm("Join", "Game", FormMethod.Post, new { @id = "joinGameForm", @class = "form-horizontal" }))
                {
                    <div class="modal-content">
                        <div class="modal-body">
                            @Html.HiddenFor(m => m.GameToJoin)
                            @Html.HiddenFor(m => m.ConnectionId)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Player.Name, new { @class = "control-label col-xs-4" })
                                <div class="col-xs-8">
                                    @Html.DropDownListFor(m => m.Player.Name, Model.Player.AvailableCharacters.Select(c => new SelectListItem { Value = c, Text = c }), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                    <i class="fa fa-spinner fa-lg fa-pulse hidden" id="wait"></i>
                                </div>
                                <div class="col-xs-8">
                                    <div class="input-group" data-toggle="tooltip" title="Ajouter un personnage...">
                                        <input class="form-control" type="text" id="newChar" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" id="addCharacter" /></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Retour</button>
                            <button class="btn btn-primary">Go !</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/App/joinGame.js")
}