@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Play</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="infoJeu">
        <div class="col-xs-2" id="recap"></div>
        <div class="col-xs-8 no-padding" id="plateau">
            @Html.Partial("Vaisseau")
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div id="playerInfo">
        <div class="col-xs-6" id="playerDeck"></div>
        <div class="col-xs-6" id="playerPlan"></div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
    @Scripts.Render("~/Scripts/App/jeu.js")
</body>
</html>
