@{
    Layout = null;
}
@model SpaceAlert.Web.Models.GameShipViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Play</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/less/octicons.less" rel="stylesheet" />
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script type="text/javascript">
        var debutPhase = @Html.Raw(Json.Encode(SpaceAlert.Business.SpaceAlertData.DebutPhases));
    </script>
    <div id="infoJeu">
        @*<div class="col-xs-2" id="recap"></div>*@
        <div class="col-xs-12 no-padding" id="plateau">
            @Html.Partial("Vaisseau")
        </div>
        @*<div class="col-xs-2"></div>*@
    </div>
        <div id="playerInfo">
            <div class="col-xs-6 no-padding" id="playerPlan">
                @Html.Partial("PlayerPlan")
            </div>
            <div class="col-xs-6 no-padding" id="playerDeck">
                <div id="carteClones"></div>
                <div id="cartes">
                    @Html.Partial("Carte")
                    @Html.Partial("Carte")
                    @Html.Partial("Carte")
                    @Html.Partial("Carte")
                    @Html.Partial("Carte")
                </div>
            </div>
        </div>
        @Html.Partial("Menu")

        @Html.HiddenFor(m => m.GameId);

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/signalR")
        @Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("~/Scripts/App/jeu.js")
        </body>
        </html>
