@using System.Security
@using SpaceAlert.Web.Models
@model GameCreationViewModel
@{
    ViewBag.Title = "WaitingRoom";
}
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3 no-padding"></div>
        <div class="col-xs-9">
            <h2>Création d'une partie</h2>
            <h4>En attente de joueurs...</h4>
        </div>
        <div class="col-xs-3 no-padding">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Paramètres de la partie</div>
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(m => m.Game.GameId)
                    @Html.HiddenFor(m => m.CreatedBy)
                    @Html.Hidden("RedirectTo", Url.Action("Play", "Game", new { gameId=@Model.Game.GameId }))
                    <p><strong>Type : </strong>@Model.Game.TypeMission</p>
                    <p><strong>Nombre de joueurs : </strong><span id="nbPlayers">@Model.Game.NbJoueurs</span></p>
                    <p><strong>Nombre d'androids : </strong>@Model.Game.NbAndroids</p>
                    <p><strong>Menaces : </strong></p>
                    <p>
                        @if (Model.Game.Blanches)
                        {
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        }
                        <span> Blanches</span>
                    </p>
                    <p>
                        @if (Model.Game.Jaunes)
                        {
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        }
                        <span> Jaunes</span>
                    </p>
                    <p>
                        @if (Model.Game.Rouges)
                        {
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        }
                        <span> Rouges</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <table id="playerList">
                @if (Model != null && Model.Game.Players != null)
                {
                    <tbody>
                        @foreach (PlayerViewModel player in Model.Game.Players)
                        {
                        <tr>
                            <td>@player.Name</td>
                        </tr>
                        }
                    </tbody>
                }
            </table>
            <div class="text-right">
                @if (Model.IsGameOwner)
                {
                    <button class="btn btn-primary" id="startGame" disabled>Lancer la partie</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/App/waitRoom.js")
}